
<main>
  <h2> 
    Students
  </h2>

  <ul>
    <li *ngFor="let student of students">
      
      {{student.name}}, {{student.id}}, {{student.course}}

    </li>
  </ul>

  <h2> 
    Weather in Galway
  </h2>

  {{weather[0].id}}, {{weather[0].main}}, {{weather[0].description}}

  <h3> 
    Temperature
  </h3>
  <div>Temperature is {{temperature.temp}}</div>
  <div>Temperature feels like {{temperature.feels_like}}</div>
  <div>Pressure is {{temperature.pressure}}</div>
  <div>Humidity is {{temperature.Humidity}}%</div>
  

</main>
